<mat-toolbar color="primary">
  <span class="logo">
    <a *ngIf="userIsAuthenticated" routerLink="/liclist">Лицензии </a>
    <a *ngIf="!userIsAuthenticated" routerLink="/auth/login">Лицензии</a>
  </span>
  <!-- <span class="spacer"></span> -->
<div class="center">
  <div *ngIf="userIsAuthenticated" class="pagelabel">
    
    <a mat-button routerLink="/liclist" routerLinkActive #liclist="routerLinkActive"
      class="no-clickable">
      <div>
        <span *ngIf="liclist.isActive">Список лицензий</span>
      </div>
    </a>
    <a mat-button routerLink="/create" routerLinkActive #create="routerLinkActive" class="no-clickable">
      <div>
        <span *ngIf="create.isActive">Новая лицензия</span>
      </div>
    </a>

    <a mat-button routerLink="/customerlist" routerLinkActive #customerlist="routerLinkActive" class="no-clickable">
      <div>
        <span *ngIf="customerlist.isActive">Список организаций</span>
      </div>
    </a>

    <a mat-button routerLink="/addcustomer" routerLinkActive #addcustomer="routerLinkActive" class="no-clickable">
      <div>
        <span *ngIf="addcustomer.isActive">Добавить организацию</span>
      </div>
    </a>

    <a mat-button routerLink="/auth/change" routerLinkActive #change="routerLinkActive" class="no-clickable">
      <div>
        <span *ngIf="change.isActive">Изменить пароль</span>
      </div>
    </a>
  <!-- <div *ngIf="role=='admin'"> -->
    <a mat-button routerLink="/auth/signup" routerLinkActive #signup="routerLinkActive" class="no-clickable">  
      <div>
        <span *ngIf="signup.isActive">Регистрация пользователя</span>
      </div>
    </a>
  <!-- </div> -->
</div >

<!-- <span class="spacer"></span> -->

<div class="menu">
  <button *ngIf="userIsAuthenticated" id="menu" mat-button [matMenuTriggerFor]="topLavelMenu">Меню</button>
  <mat-menu #topLavelMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="licenses">Лицензии</button>
    <button mat-menu-item [matMenuTriggerFor]="customers">Организации</button>
    <button mat-menu-item [matMenuTriggerFor]="users" *ngIf="userIsAuthenticated && role=='admin'">Пользователи</button>
    <a mat-menu-item routerLink="/auth/change">Изменить пароль</a>
    <button mat-menu-item (click)="onLogout()">Выйти</button>
  </mat-menu>

  <mat-menu #licenses="matMenu">
    <a mat-menu-item routerLink="/liclist">Список лицензий</a>
    <a mat-menu-item routerLink="/create">Новая лицензия</a>
  </mat-menu>
  <mat-menu #customers="matMenu">
    <a mat-menu-item routerLink="/customerlist">Список организаций</a>
    <a mat-menu-item routerLink="/addcustomer">Добавить организацию</a>
  </mat-menu>
  <mat-menu #users="matMenu">
    <a mat-menu-item routerLink="/auth/signup" routerLinkActive>Регистрация пользователя</a>
  </mat-menu>
</div>
</div>
  <!-- <span class="spacer"></span> -->

  <div class="userdiv">
    <span *ngIf="userIsAuthenticated" class="user">{{email}} : {{role == 'admin' ?  "администратор" : "базовый" }}</span>
  </div>
 
  <ul *ngIf="!userIsAuthenticated">
    <li >
      <a mat-button routerLink="/auth/reset" routerLinkActive="mat-accent">Забыли пароль?</a>
    </li>
  </ul>
</mat-toolbar>