ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-clickable {
  visibility: visible;
  text-decoration: none;
  pointer-events: none;
  cursor: default;  
}

.logo a{
 text-decoration: none;
 color: white;
}


.pagelabel{
  display: flex;
  justify-content:flex-start; 
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* margin-right: 100px; */
}

.spacer {
  flex: 1 1 auto;
}

.user {
  font-size: 14px;
}

/* .menu{
  margin-left: 200px;
} */
