ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-clickable {
  visibility: visible;
  text-decoration: none;
  pointer-events: none;
  cursor: default;  
}

.logo a{
 text-decoration: none;
 color: white;
 /* margin-right: 100px; */
}


.pagelabel{
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}


.user {
  font-size: 14px;
}

.mat-toolbar{
  display: flex;
  justify-content: space-between; 
  /* align-self: center; */
}
/* .menu{
  flex-grow: 50%;
} */

.center{
  display: flex;
  flex: 1;
  justify-content: space-between;
  /* flex-shrink: 5;  */
  
  /* width: 800px; */
}