<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onPasswordChange(signupForm)" #signupForm="ngForm" *ngIf="!isLoading" [mustMatch]="['password', 'confirmPassword']">
    <!-- <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Введите email.</mat-error>
    </mat-form-field> -->
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Новый пароль" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Введите новый пароль.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="confirmPassword" ngModel matInput placeholder="Повторите пароль" #confirmPassword="ngModel" required>
      <!-- <input type="password" name="confirmPassword" ngModel matInput placeholder="Повторите пароль" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required> -->
      <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.errors.mustMatch">Повторите пароль.</mat-error>
      <mat-error *ngIf="confirmPassword.errors?.mustMatch">Пароли не совпадают.</mat-error>

    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Изменить пароль</button>
  </form>
</mat-card>
